/* tailwind.css */

/* Define your custom color for the overflow */
.overflow-custom {
    scrollbar-color: 
     /* #your-custom-color #your-scrollbar-background-color; */
  }
  
  /* Optional: You can also customize the scrollbar width and track color */
  .overflow-custom::-webkit-scrollbar {
    width: 8px; /* Change this value as needed */
  }
  
  .overflow-custom::-webkit-scrollbar-thumb {
    background-color: red;
  }
  
  .overflow-custom::-webkit-scrollbar-track {
    background-color: black;
  }
  

  /* Dalam file .css atau dalam tag <style> di dalam komponen */
.scrollbar-thin::-webkit-scrollbar {
  width: 5px; /* Lebar scrollbar */
  height: 5px; /* Tinggi scrollbar (untuk scrollbar horizontal) */
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: #888; /* Warna latar belakang thumb scrollbar */
}

.scrollbar-thin::-webkit-scrollbar-track {
  background-color: transparent; /* Warna latar belakang track scrollbar */
}
